USE [master]
GO
/****** Object:  Database [ERPFORALL]    Script Date: 28/08/2025 10:05:59 ******/
CREATE DATABASE [ERPFORALL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ERPFORALL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ERPFORALL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ERPFORALL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ERPFORALL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ERPFORALL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ERPFORALL]
GO
/****** Object:  Table [dbo].[Artikel]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikel](
	[PKey_Artikel] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Beschreibung] [varchar](255) NULL,
	[Kategorie] [varchar](50) NULL,
	[Menge] [int] NOT NULL,
 CONSTRAINT [PK_Artikel] PRIMARY KEY CLUSTERED 
(
	[PKey_Artikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artikel_Lagerort]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artikel_Lagerort](
	[PKey_Artikel_Lager] [int] IDENTITY(1,1) NOT NULL,
	[FKey_Artikel] [int] NOT NULL,
	[FKey_Lagerort] [int] NOT NULL,
	[Bestand] [int] NOT NULL,
 CONSTRAINT [PK_Artikel_Lagerort] PRIMARY KEY CLUSTERED 
(
	[PKey_Artikel_Lager] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bestellung]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bestellung](
	[PKey_Bestellung] [int] IDENTITY(1,1) NOT NULL,
	[FKey_Lieferant] [int] NOT NULL,
	[Fkey_Kunde] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Fälligkeit] [date] NOT NULL,
	[Status] [varchar](50) NULL,
 CONSTRAINT [PK_Bestellung] PRIMARY KEY CLUSTERED 
(
	[PKey_Bestellung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bestellung_Artikel]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bestellung_Artikel](
	[PKey_Bestellung_Artikel] [int] IDENTITY(1,1) NOT NULL,
	[FKey_Bestellung] [int] NOT NULL,
	[FKey_Artikel] [int] NOT NULL,
	[Menge] [int] NOT NULL,
	[Preis Pro Stück] [int] NOT NULL,
 CONSTRAINT [PK_Bestellung_Artikel] PRIMARY KEY CLUSTERED 
(
	[PKey_Bestellung_Artikel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kunde]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kunde](
	[PKey_Kunde] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [varchar](50) NULL,
	[Nachname] [varchar](50) NOT NULL,
	[Geburtsdatum] [nchar](10) NULL,
	[Email] [nchar](10) NOT NULL,
	[Adresse] [varchar](50) NULL,
	[Ort] [varchar](50) NULL,
	[PLZ] [int] NULL,
 CONSTRAINT [PK_Kunde] PRIMARY KEY CLUSTERED 
(
	[PKey_Kunde] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lagerort]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lagerort](
	[PKey_Lagerort] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Addresse] [varchar](50) NOT NULL,
	[Ort] [varchar](50) NOT NULL,
	[PLZ] [int] NOT NULL,
 CONSTRAINT [PK_Lagerort] PRIMARY KEY CLUSTERED 
(
	[PKey_Lagerort] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lieferant]    Script Date: 28/08/2025 10:05:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lieferant](
	[PKey_Lieferant] [int] IDENTITY(1,1) NOT NULL,
	[Vorname] [varchar](50) NULL,
	[Nachname] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Addresse] [varchar](50) NULL,
	[Ort] [varchar](50) NULL,
	[PLZ] [int] NULL,
 CONSTRAINT [PK_Lieferant] PRIMARY KEY CLUSTERED 
(
	[PKey_Lieferant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Artikel_Lagerort]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_Lagerort_Artikel] FOREIGN KEY([FKey_Artikel])
REFERENCES [dbo].[Artikel] ([PKey_Artikel])
GO
ALTER TABLE [dbo].[Artikel_Lagerort] CHECK CONSTRAINT [FK_Artikel_Lagerort_Artikel]
GO
ALTER TABLE [dbo].[Artikel_Lagerort]  WITH CHECK ADD  CONSTRAINT [FK_Artikel_Lagerort_Lagerort] FOREIGN KEY([FKey_Lagerort])
REFERENCES [dbo].[Lagerort] ([PKey_Lagerort])
GO
ALTER TABLE [dbo].[Artikel_Lagerort] CHECK CONSTRAINT [FK_Artikel_Lagerort_Lagerort]
GO
ALTER TABLE [dbo].[Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_Bestellung_Kunde] FOREIGN KEY([Fkey_Kunde])
REFERENCES [dbo].[Kunde] ([PKey_Kunde])
GO
ALTER TABLE [dbo].[Bestellung] CHECK CONSTRAINT [FK_Bestellung_Kunde]
GO
ALTER TABLE [dbo].[Bestellung]  WITH CHECK ADD  CONSTRAINT [FK_Bestellung_Lieferant] FOREIGN KEY([FKey_Lieferant])
REFERENCES [dbo].[Lieferant] ([PKey_Lieferant])
GO
ALTER TABLE [dbo].[Bestellung] CHECK CONSTRAINT [FK_Bestellung_Lieferant]
GO
ALTER TABLE [dbo].[Bestellung_Artikel]  WITH CHECK ADD  CONSTRAINT [FK_Bestellung_Artikel_Artikel] FOREIGN KEY([FKey_Artikel])
REFERENCES [dbo].[Artikel] ([PKey_Artikel])
GO
ALTER TABLE [dbo].[Bestellung_Artikel] CHECK CONSTRAINT [FK_Bestellung_Artikel_Artikel]
GO
ALTER TABLE [dbo].[Bestellung_Artikel]  WITH CHECK ADD  CONSTRAINT [FK_Bestellung_Artikel_Bestellung] FOREIGN KEY([FKey_Bestellung])
REFERENCES [dbo].[Bestellung] ([PKey_Bestellung])
GO
ALTER TABLE [dbo].[Bestellung_Artikel] CHECK CONSTRAINT [FK_Bestellung_Artikel_Bestellung]
GO
USE [master]
GO
